<div class="container">
  <form ng-submit="createGame()">
    <div class="form-group">
      <label for="gameName">
             Name of Game</label>
      <input type="test"
             class="form-control"
             id="gameName"
             placeholder="Auburn Puzzle Party 27"
             ng-model="game.name"/>
    </div>
    <button type="submit"
            class="btn btn-default">
            Create</button>
  </form>
  <ul>
    <li ng-repeat="game in games">{{game.name}}</li>
  </ul>
</div>